.ArticleDetail {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background: #333;
}

.ArticleDetail__header {
  min-width: 100vw;
  max-width: 100vw;
  color: #fff;
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
}

.GifVideo {
  min-height: 50vh;
  max-height: 50vh;
  min-width: 33.33vw;
  max-width: 33.33vw;
  overflow: hidden;
  position: relative;
}

.GifVideo__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: #333;
}
